<div ng-controller="overSpeedNotificationCtrl" class="bg-e">
  <div class="row sub-head">
    <a ng-model="timeHalf" class="wavesUrl waves-effect" ng-click="homePage()" style="height: 16px; margin-left: 15px;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;
    <a ng-model="timeHalf" class="wavesUrl waves-effect" ng-click="" style="height: 16px;">OverSpeed Notifications</a>
    <div class="col-lg-10 col-md-10 col-sm-10 pull-right">
      <div class="col-sm-3 ">
        <div class="input-group input-group-sm inn" >
          <span class="glyphicon glyphicon-search"></span>&nbsp;
          <input  class="dtt" style="width: 90%;" type="text" ng-model="vehicleNum" placeholder="Search By Vehicle No." title="Please Enter Here" aria-describedby="sizing-addon1" typeahead-wait-ms="9" uib-typeahead="vehicleImei as vehicleImei.reg_no for vehicleImei in aVehicle | filter:{reg_no: $viewValue} | limitTo:30" typeahead-on-select="onSelect($item, $model, $label)" ng-change="remVehicle(vehicleNum)">
        </div>
      </div>
      <!-- <div class="col-sm-3 ">
        <div class="input-group input-group-sm inn">
          <span class="glyphicon glyphicon-search" id="sizing-addon1"></span>
                <select class="input-sm" ng-model="selectAlertType" name="searchBy" ng-options="option for option in allAlertTypes | filter:  $viewValue" ng-change="getAlert(selectAlertType)" style="width: 92%; border: none;">
                <option value="" style="display: none;">Search BY Alert Type</option>
                </select>
        </div>
      </div> -->
      <div class="col-sm-3 ">
          <div class="input-group input-group-sm inn" >
            <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened1 == true }" style="width: 100%;">
              <div class="fg-line" ng-class="{ 'fg-toggled': opened1 == true }" >
                <span class="glyphicon glyphicon-search"></span>&nbsp;
                <input ng-click="open($event, 'opened1')" type="text" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="from_date" is-open="opened1" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Alert Start Date " ng-change="getNotification()" style="width: 90%; border: none; padding: 6px;" / >
              </div>
            </div>
          </div>
          <p class="red" ng-show="wrongDateRange">Start Date must be less than End Date </p>
      </div>
      <div class="col-sm-3 ">
        <div class="input-group input-group-sm inn" >
          <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }" style="width: 100%;">
              <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                <span class="glyphicon glyphicon-search"></span>&nbsp;
                <input ng-click="open($event, 'opened2')" type="text" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="to_date" is-open="opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Alert End Date" ng-change="getNotification()" style="width: 90%; border: none; padding: 6px;"/>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-3 ">
        <div class="head222 pull-right m-t-5 m-b-5">
          <a ng-click="downloadList()" class="btn btn-default">Download</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row h-set2" style="min-height: 520px;">
    <div class="col-sm-12 toggle-table">
      <div class="table-responsive" style="min-height: 435px;height: 480px;">
        <table class="table table-condensed">
          <thead>
            <tr>
                <th style="background: #aaefed;">Vehicle</th>
                <th style="background: #aaefed;">Time</th>
                <th style="background: #aaefed;">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="noti in aOverSNotifications" ng-if="aOverSNotifications.length > 0">
                <td>{{noti.vehicle_no || "NA" }}</td>
                <td>{{noti.datetime || "NA" }}</td>
                <td>{{noti.message || "NA" }}</td>
            </tr>
            <tr ng-if="aOverSNotifications.length < 1">
              <td colspan="4">No notification available !!!</td>
            </tr>
              
          </tbody>
        </table>
      </div>
      <div class="clearfix"></div>
      <div class="pagin text-center">
        <ul uib-pagination ng-change="pageChanged()" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" items-per-page="15"></ul>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  section.main{width: 100%;float: none;margin: 0;}
  .form-group label {text-align: left;}
  
</style>