<!-- <form class=" form-horizontal" ng-submit="removeAlertF(selectedAlert)" novalidate  autocomplete="off"> -->
  <div class="modal-header p-t-10 p-b-0" >
    <button type="button" ng-click="cancel()" class="close"
      data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" align="center">{{selectedMapView.reg_no}}</h3>
  </div>
    <hr>
  <!-- Body Start -->
  <div class="modal-body" style="overflow: auto;">
    <div class="" style="height: 450px; overflow: auto;padding: 0;">
      <div class="bott">
        <div style="width:100%;height:450px;border:1px solid" id="sMapListView">
        </div>
      </div>
    </div>
  </div>
  <hr>

<!-- </form> -->
<style type="text/css">
  .modal-dialog {width: 80%;}
</style>
