<form name="commandForm" class=" form-horizontal" ng-submit="commandF(commandForm)" novalidate  autocomplete="off">
  <div class="modal-header p-t-10 p-b-0" >
    <button type="button" ng-click="cancel()" class="close"
      data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" align="center">Command Details</h3>
  </div>
    <br>
  <!-- Body Start -->
  <div class="modal-body" style="overflow: auto;">
    <div class="col-md-12" ng-if="commandResponse.command_type == 'location'">
        <div class="col-sm-3">
          <p>Address</p>
        </div>
        <div class="col-sm-9">
          <p>{{commandResponse.data.address}}</p>
        </div>
        <div class="col-sm-3">
          <p>Speed</p>
        </div>
        <div class="col-sm-9">
          <p>{{commandResponse.data.speed}} Kmph</p>
        </div>
        <div class="col-sm-3">
          <p>Date Time</p>
        </div>
        <div class="col-sm-9">
          <p>{{commandResponse.data.datetime}}</p>
        </div>
    </div>
    <div class="col-md-12" ng-if="commandResponse.command_type != 'location'">
      <p>{{commandResponse.message}}</p>
    </div>
  </div>
  
</form>
