<form name="commandPrmRespForm" class=" form-horizontal" ng-submit="commandF(commandPrmRespForm)" novalidate  autocomplete="off">
  <div class="modal-header p-t-10 p-b-0" >
    <button type="button" ng-click="cancel()" class="close"
      data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" align="center">Commands Details</h3>
  </div>
    <br>
  <!-- Body Start -->
  <div class="modal-body" style="overflow: auto;">
    <div class="col-md-12">
      <div class="form-group m-b-5">
        {{commandParamRespFinalData.message}}
      </div>
      
    </div>
  </div>
  <!-- <div class="modal-footer p-t-0">
    <button class="btn btn-success waves-effect" type="submit">Get</button>
  </div> -->
</form>
<style type="text/css">
  
</style>
