<div class="f-2bg m-r-0 m-l-0" ng-style="{background: distributerInfo.color}">
	<!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 c-r text-right">
		<a data-ui-sref="privacypolicy" data-ng-click="mactrl.sidebarStat($event)">Privacy Policy</a>
	</div> -->
	<div class=" c-r text-center">
		<a href="{{distributerInfo.tnC_link}}">Terms & Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &copy; {{distributerInfo.f_copyright}} <a href="#" >{{distributerInfo.name}} </a> | {{distributerInfo.f_text}}
	</div>
	<!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 c-r text-left">
		<a data-ui-sref="cancelation&refund" data-ng-click="mactrl.sidebarStat($event)">Cancellation And Refunds</a>
	</div> -->
</div>
